:root {
    --dk-color: #202142;
    --md-color: #20214280;
    --lt-color: #f2f2f2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: #ffffff;
}

#nav {
    background-color: #ffffff;
    box-shadow: none;
}

.top-nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 2%;
    padding-left: 2%;
    top: 0;
}

.bottom-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 2%;
    padding-left: 2%;
}

#main {
    background-color: #ffffff;
    box-shadow: none;
    margin: auto;
}

#profile-pic {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

#footer {
    background-color: var(--lt-color);
    border-top: .1px solid var(--md-color);
    bottom: 0;
}
.nav-link, .normal-text {
    color: var(--dk-color);
    text-transform: capitalize;
    margin-right: 10px;
    font-size: 13px;
    line-height: 1;
}

#search, #doodles {
    background-color: var(--lt-color);
    border-radius: 5px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#search:hover, #doodles:hover {
    border: 1px var(--lt-color) solid;
}

#search-bar {
    border: 2px var(--lt-color) solid;
    border-radius: 35px;
    padding-left: 15px;
    margin-bottom: 5px;
}

#google-search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32.5vh;
    max-width: 700px;
    width: 95vw;
}

#form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#google-search img {
    padding: 5%;
    max-width: 50vw;
}

@media (max-width: 768px) {
    #about, #store {
        visibility: hidden;
    }
    .bottom-nav {
        float:none;
    }
}