:root {
    --dk-color: #202142;
    --md-color: #20214295;
    --lt-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: #ffffff;
}

#nav {
    background-color: #ffffff;
    box-shadow: none;
}

.top-nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 2%;
    padding-left: 2%;
    top: 0;
}

.bottom-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 2%;
    padding-left: 2%;
}

#main {
    background-color: #ffffff;
    box-shadow: none;
    margin: auto;
}

#profile-pic {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

#footer {
    background-color: var(--lt-color);
    border-top: .1px solid var(--md-color);
    bottom: 0;
}
.nav-link, .normal-text {
    color: var(--dk-color);
    text-transform: capitalize;
    margin-right: 10px;
    font-size: 14px;
}

#search, #doodles {
    background-color: var(--lt-color);
    border-radius: 5px;
    box-shadow: none;
    margin-top: 5%;
    margin-bottom: 5%;
}

#search:hover, #doodles:hover {
    box-shadow: 1px;
    border: 1px var(--lt-color) solid;
}

#search-bar {
    border: 2px var(--lt-color) solid;
    border-radius: 35px;
    padding-left: 15px;
}

#google-search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32.5vh;
}

#form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#google-search img {
    padding: 5%;
}